*{
    margin: 0;
    padding: 0;
    
    /*remove default margin and padding for all elements in this document*/
    font-family: Arial, Helvetica, sans-serif;


}
.main-head{
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    /*sets the header as sticky, it will stick o the top when scrolling*/
}
.header{
    background-color: darkred;
    color: white;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*styles the element with class "header" with a black background, white text, and padding*/
}
.header .header-list li{
    display:inline-block;
    list-style: none;
    margin: 10px;
}
.header .header-list li button{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius:5px ;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;


}
.header .header-list li button:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    /*styles the button elements within the list items of the element with class "header" on hover*/
}
.link-header{
    background-color: black;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*styles the element with class "link-header" with a black background, white text, and padding*/
}
.link-header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    /*styles the anchor tags within the element with class "link-header"*/
}
.link-header button{
    color: white;
    text-decoration: none;
    font-size: 18px;

    /*styles the anchor tags within the element with class "link-header"*/
}
.dropdown{
    position: relative;
    display: inline-block;
    /*styles the element with class "dropdown" to be positioned relative and displayed as an inline-block*/
}
.toggle-menu{
    background-color: transparent;
    color: white;

    border: none;
    cursor: pointer;
    /*styles the button with class "toggle-menu"*/
}
.menu-content{
    display: none;
    min-width: 100px;
    /*sets the min width to 80px*/
    position: absolute;
    /*positions the element with class "menu-content" absolutely and hides it by default*/
    padding: 10px;
    overflow: auto;
    /*hides the element with class "menu-content" by default*/
    translate: -20px 10px;

}

.menu-content a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    /*styles the anchor tags within the element with class "menu-content"*/
} 
.show{
    display: block;
    background-color: gray;
    /*makes the element with class "show" visible*/
}


.footer p{
    position: fixed;
    /*positions the footer at the bottom of the page*/
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;

}
.login-ui{
    width:80%;
    margin: 50px auto;
    background-color:maroon ;
    display: flex;
    flex-direction: column;
    /*styles the flexbox elements to a column format*/
    align-items: center;
    padding: 30px 0px;
    border-radius: 10px;
     /*styles the element */

    
}
.login-ui label{
    color: white;
    font-weight: bold;
    
}
.login-ui input{
    margin: 20px;
    padding: 10px;
    width:60%;
    height:30px;
    border: none;
    border-radius: 5px;
}

.login-ui input[type="submit"]{
    background-color: white;
    color: black;
    max-width: 100px;
    height: 40px;;
    font-weight: bold;
    cursor: pointer;
    /*changes the pointer style upon hovering over the element*/
}
.login-ui input[type="submit"]:hover{
    background-color: gray;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /*creates a transiton effect when hovering over the submit button*/
}
@media (prefers-color-scheme:dark) {
    /*detects if the device is set to dark mode*/
    body{
        background-color: black;
        color: white;
    }
    .link-header{
        background-color: gray;
    }
    .menu-content a{
        color: white;
    }
    .login-ui{
        border: 5px solid white;
    }
}
@media (prefers-color-scheme:light) {
    /*detects if the device is set to light mode*/
    body{
        background-color: white;
        color: black;
    }
    .link-header{
        background-color: rgb(82, 82, 82);
    }
    .menu-content a{
        color: black;
    }

}
@media (max-width:480px){
    /*media query for devices lower than 480px*/
    .header{
        flex-direction: column;
        align-items: flex-start;
    }
    .header button{
        padding: 5px;
    }
    .link-header{
        flex-direction: column;
        align-items: flex-start;
    }
    .link-header a{
        margin: 10px 0;
    }
    .link-header button{
        margin: 10px 0;
    }
    .menu-content{
        min-width: 100px;
        translate: -10px 10px;
    }
    .menu-content a{
        font-size: 15px;
        padding: 5px;
    }
}
